doctype html
html(ng-app="t3Kata")
  head
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0")
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/helper.min.css')
  body
    block content
    script(src='/javascripts/helper.min.js')
    script(src='/javascripts/all.min.js')