doctype html
html(ng-app="t3Kata")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/helper.min.css')
    script(src='/javascripts/helper.min.js')
  body
    block content